body {
  display: flex; 
  align-items: center; 
  min-height: 100vh;
  font-family: "Oswald", sans-serif;
  flex-direction: column;
  background-image: url("../img/fondo.jpg"); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  text-align: center;
  margin: 0;
  padding: 0;
}

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h1 {
  font-size: 3.5rem;
  color: #e3350d;
  padding-top: 40px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

form {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  background: #b22222;
  transition: background 0.3s ease;
  color: white;
  border: none;
  cursor: pointer;
}

#pokemon-container {
  border-radius: 10px; 
  padding: 10px 60px 20px;         
  max-width: 600px;     
  margin: 40px auto;      
  color: white; 
  text-align: center;
  font-size: 18px;       
}

img {
  width: 100%; 
  max-width: 270px;     
  height: auto;
}

